certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
mysql-connector-python==8.0.28
Pillow==9.1.0
protobuf==3.20.0
PyJWT==2.3.0
pytz==2022.1
requests==2.27.1
tk==0.1.0
twilio==7.8.1
urllib3==1.26.9
